<div *ngIf="filteredVehicles.length === 0">No vehicles</div>

<div class="vehicle-container">
  <mat-card class="vehicle-card" *ngFor="let vehicle of filteredVehicles">
    <img mat-card-image [src]="imgPath + vehicle.imageUrl" [alt]="vehicle.brand + ' ' + vehicle.model">
    <mat-card-content>{{ vehicle.brand }}</mat-card-content>
    <mat-card-content>{{ vehicle.model }}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="editVehicle(vehicle)">Edit</button>
      <button mat-raised-button (click)="deleteVehicle(vehicle)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>