<app-vehiculo-filter 
  [vehicles]="vehicleData?.data || []"
  (filterChanged)="onFilterChange($event)">
</app-vehiculo-filter>

<div *ngIf="filteredVehicles.length > 0">
  <div *ngFor="let vehicle of filteredVehicles">
    <div class="vehicle-card">
      <div class="vehicle-image">
         <img [src]="imgPath + vehicle.imageUrl" alt="Imagen del Vehículo"> 
      </div>
      <div class="vehicle-details">
        <p>{{ vehicle.brand }}</p>
        <p>{{ vehicle.model }}</p>
      </div>
    </div>
  </div>
</div>