<mat-card class="locality-card">
  <div *ngIf="localityData.length === 0" class="no-data-message">
    No localities available
  </div>

  <div *ngFor="let locality of localityData" class="locality-container">
    <mat-card-content class="locality-content">
      <div class="locality-info">
        <div class="info-item">
          <strong>ID:</strong> {{ locality.id }}
        </div>
        <div class="info-item">
          <strong>Name:</strong> {{ locality.name }}
        </div>
        <div class="info-item">
          <strong>Province:</strong> {{ locality.province }}
        </div>
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="editLocality(locality)">
          Edit
        </button>
        <button mat-raised-button color="warn" (click)="deleteLocality(locality)">
          Delete
        </button>
      </div>
    </mat-card-content>
  </div>
</mat-card>